@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

// Use the gray 90 theme
@import '@carbon/themes/scss/themes';
$carbon--theme: $carbon--theme--g100;
@include carbon--theme();
@import 'carbon-components/scss/globals/scss/styles.scss';
@import '@carbon/charts/styles/styles.scss';

html,
body {
    scrollbar-width: none;
    -ms-overflow-style: none;
    background-color: in;
    padding: 0;
    margin: 0;
    overflow: initial !important;
}
body {
    font-family: 'NanumSquare', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
    font-variant-ligatures: common-ligatures;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
body::-webkit-scrollbar {
    display: none;
}
a {
    color: inherit;
    text-decoration: none;
}
nav,
ul {
    list-style-type: none;
}

* {
    box-sizing: border-box;
}

input[type='password'] {
    font-family: Helvetica;

    &::placeholder {
        font-family: 'NanumSquare', sans-serif;
    }
}
